apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  selector:
    app: myapp
    color: blue  # Active color: switch to 'green' to flip traffic atomically
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
